doctype html
html
  head
    title= title
    link(rel='icon' type='image/png' href='/images/favicon.png')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src='/javascripts/index.js' defer)
    
  body
    block content
